# Application
PORT=8080
NODE_ENV=development
APP_DEBUG=true
LOG_FILE_PATH=""
LOG_TO_CONSOLE=true

# Database
MONGODB_DATABASE_URI=mongodb://local-root-user:local-root-password@localhost:27017?retryWrites=true&w=majority

# Database Provider (mongodb-in-memory | mongodb | in-memory)
DATABASE_PROVIDER=mongodb-in-memory
DATABASE_SEED=true
DATABASE_SEED_FROM_EXTERNAL_SOURCE=true

# External Sources (file-system | rest-api)
EXTERNAL_SOURCE=file-system

# External Sources
MULTI_INSTITUTIONS_V1_BASE_URL=https://uspmulti.prp.usp.br/api/public/instituicoes
MULTI_CENTRALS_V1_BASE_URL=https://uspmulti.prp.usp.br/api/public/centrais