[submodule "modules/private-templates"]
	path = modules/private-templates
	url = git@github.com:amaralc/private-templates.git
[submodule "modules/peerlab-platform-ts-api-mvp-dev"]
	path = modules/peerlab-platform-ts-api-mvp-dev
	url = git@github.com:peerlab-devs/peerlab-platform-ts-api-mvp-dev.git
[submodule "modules/peerlab-fe-dev"]
	path = modules/peerlab-fe-dev
	url = git@github.com:dev-peerlab/peerlab-fe-dev.git
