# Application
PORT=8080
NODE_ENV=development

# # Database (Container)
# MONGODB_DATABASE_URI=mongodb://local-root-user:local-root-password@mongodb:27017?retryWrites=true&w=majority
# Database (Host Machine)
MONGODB_DATABASE_URI=mongodb://local-root-user:local-root-password@localhost:27017?retryWrites=true&w=majority
MONGODB_DATABASE_NAME=things-assets-catalog

# Database Provider (mongodb-in-memory | mongodb | in-memory)
DATABASE_PROVIDER=mongodb
DATABASE_SEED=true